#DOCUMENTROOT=./htdoc
DOCUMENTROOT=
SERVER_USER_NAME=galih
SERVER_UID=1000
SERVER_GID=1000
DOCKER_RESTART=no
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password
MONGO_INITDB_ROOT_USERNAME=user
MONGO_INITDB_ROOT_PASSWORD=password
POSTGRES_USER=user
POSTGRES_PASSWORD=password
MYSQL_ALLOW_EMPTY_PASSWORD=yes
